<section id="skills">
	<article>
		<div class="animate moveDown">
			<header>
				<h2>Skills</h2>
				<ul class="tabs">
					<li class="tab active" data-tab="tab-1">Web</li>
					<li class="tab" data-tab="tab-2">Responsive</li>
					<li class="tab" data-tab="tab-3">Mobile</li>
					<li class="tab" data-tab="tab-4">Adobe</li>
				</ul>
			</header>

			<div class="content">
				<!--        -->
				<!--  Web   -->
				<!--        -->
				<div id="tab-1" class="tab-content active">
					<ul class="progress">
						<!-- HTML and CSS -->
					  <li data-name="HTML5/CSS3" data-percent="80%">
					  	<svg viewBox="-10 -10 220 220">
						    <g fill="none" stroke-width="14" transform="translate(100,100)">
						      <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
						      <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
						      <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
						      <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
						      <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
						      <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
						    </g>
					    </svg>
					    <svg viewBox="-10 -10 220 220">
					    	<path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="504">
					    	</path>
					    </svg>
					  </li>

				    <!-- SASS -->
				    <li data-name="SASS" data-percent="70%">
					  	<svg viewBox="-10 -10 220 220">
						    <g fill="none" stroke-width="14" transform="translate(100,100)">
						      <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
						      <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
						      <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
						      <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
						      <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
						      <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
						    </g>
					    </svg>
					    <svg viewBox="-10 -10 220 220">
					    	<path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="441">
					    	</path>
					    </svg>
					  </li>

					  <!-- HAML -->
					  <li data-name="HAML" data-percent="70%">
					  	<svg viewBox="-10 -10 220 220">
						    <g fill="none" stroke-width="14" transform="translate(100,100)">
						      <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
						      <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
						      <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
						      <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
						      <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
						      <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
						    </g>
					    </svg>
					    <svg viewBox="-10 -10 220 220">
					    	<path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="441">
					    	</path>
					    </svg>
					  </li>

					  <!-- JS -->
					  <li data-name="Javascript" data-percent="30%">
					  	<svg viewBox="-10 -10 220 220">
						    <g fill="none" stroke-width="14" transform="translate(100,100)">
						      <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
						      <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
						      <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
						      <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
						      <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
						      <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
						    </g>
					    </svg>
					    <svg viewBox="-10 -10 220 220">
					    	<path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="189">
					    	</path>
					    </svg>
					  </li>
					</ul>
				</div>

				<!--         -->
				<!--  Resp   -->
				<!--         -->
				<div id="tab-2" class="tab-content">
					<ul class="progress">
					  <!-- Bootstrap -->
					  <li data-name="Bootstrap" data-percent="80%">
					  	<svg viewBox="-10 -10 220 220">
						    <g fill="none" stroke-width="14" transform="translate(100,100)">
						      <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
						      <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
						      <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
						      <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
						      <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
						      <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
						    </g>
					    </svg>
					    <svg viewBox="-10 -10 220 220">
					    	<path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="504">
					    	</path>
					    </svg>
					  </li>

					  <!-- Foundation -->
					  <li data-name="Foundation" data-percent="60%">
					  	<svg viewBox="-10 -10 220 220">
						    <g fill="none" stroke-width="14" transform="translate(100,100)">
						      <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
						      <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
						      <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
						      <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
						      <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
						      <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
						    </g>
					    </svg>
					    <svg viewBox="-10 -10 220 220">
					    	<path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="378">
					    	</path>
					    </svg>
					  </li>
					</ul>
				</div>

				<!--        -->
				<!-- Mobile -->
				<!--        -->
				<div id="tab-3" class="tab-content">
					<ul class="progress">
					  <li data-name="Android Style Guide" data-percent="70%">
					  	<svg viewBox="-10 -10 220 220">
						    <g fill="none" stroke-width="14" transform="translate(100,100)">
						      <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
						      <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
						      <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
						      <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
						      <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
						      <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
						    </g>
					    </svg>
					    <svg viewBox="-10 -10 220 220">
					    	<path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="441">
					    	</path>
					    </svg>
					  </li>

					  <li data-name="Android Studio" data-percent="40%">
					  	<svg viewBox="-10 -10 220 220">
						    <g fill="none" stroke-width="14" transform="translate(100,100)">
						      <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
						      <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
						      <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
						      <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
						      <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
						      <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
						    </g>
					    </svg>
					    <svg viewBox="-10 -10 220 220">
					    	<path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="252">
					    	</path>
					    </svg>
					  </li>

					  <li data-name="iOS Style Guide" data-percent="50%">
					  	<svg viewBox="-10 -10 220 220">
						    <g fill="none" stroke-width="14" transform="translate(100,100)">
						      <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
						      <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
						      <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
						      <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
						      <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
						      <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
						    </g>
					    </svg>
					    <svg viewBox="-10 -10 220 220">
					    	<path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="315">
					    	</path>
					    </svg>
					  </li>

					  <li data-name="Xcode" data-percent="15%">
					  	<svg viewBox="-10 -10 220 220">
						    <g fill="none" stroke-width="14" transform="translate(100,100)">
						      <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
						      <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
						      <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
						      <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
						      <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
						      <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
						    </g>
					    </svg>
					    <svg viewBox="-10 -10 220 220">
					    	<path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="94">
					    	</path>
					    </svg>
					  </li>
					</ul>
				</div>

				<!--       -->
				<!-- Adobe -->
				<!--       -->
				<div id="tab-4" class="tab-content">
					<ul class="progress">
					  <li data-name="Illustrator" data-percent="70%">
					  	<svg viewBox="-10 -10 220 220">
						    <g fill="none" stroke-width="14" transform="translate(100,100)">
						      <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
						      <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
						      <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
						      <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
						      <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
						      <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
						    </g>
					    </svg>
					    <svg viewBox="-10 -10 220 220">
					    	<path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="441">
					    	</path>
					    </svg>
					  </li>

						<li data-name="Photoshop" data-percent="60%">
					  	<svg viewBox="-10 -10 220 220">
						    <g fill="none" stroke-width="14" transform="translate(100,100)">
						      <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
						      <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
						      <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
						      <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
						      <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
						      <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
						    </g>
					    </svg>
					    <svg viewBox="-10 -10 220 220">
					    	<path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="378">
					    	</path>
					    </svg>
					  </li>

					  <li data-name="InDesign" data-percent="80%">
					  	<svg viewBox="-10 -10 220 220">
						    <g fill="none" stroke-width="14" transform="translate(100,100)">
						      <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
						      <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
						      <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
						      <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
						      <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
						      <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
						    </g>
					    </svg>
					    <svg viewBox="-10 -10 220 220">
					    	<path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="504">
					    	</path>
					    </svg>
					  </li>
					</ul>
				</div>
			</div>
		</div>
	</article>
				<!--  Defining Angle Gradient Colors  --> 
				<!-- <svg width="0" height="0">
				<defs>
				  <linearGradient id="cl1" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="1" y2="1">
				    <stop stop-color="#618099"/>
				    <stop offset="100%" stop-color="#8e6677"/>
				  </linearGradient>
				  <linearGradient id="cl2" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="0" y2="1">
				    <stop stop-color="#8e6677"/>
				    <stop offset="100%" stop-color="#9b5e67"/>
				  </linearGradient>
				  <linearGradient id="cl3" gradientUnits="objectBoundingBox" x1="1" y1="0" x2="0" y2="1">
				    <stop stop-color="#9b5e67"/>
				    <stop offset="100%" stop-color="#9c787a"/>
				  </linearGradient>
				  <linearGradient id="cl4" gradientUnits="objectBoundingBox" x1="1" y1="1" x2="0" y2="0">
				    <stop stop-color="#9c787a"/>
				    <stop offset="100%" stop-color="#817a94"/>
				  </linearGradient>
				  <linearGradient id="cl5" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="0" y2="0">
				    <stop stop-color="#817a94"/>
				    <stop offset="100%" stop-color="#498a98"/>
				  </linearGradient>
				  <linearGradient id="cl6" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="1" y2="0">
				    <stop stop-color="#498a98"/>
				    <stop offset="100%" stop-color="#618099"/>
				  </linearGradient>
				</defs>
				</svg> -->
</section>
