main.centered_item {
	min-height: 100%;
	display: flex;
	padding-top: 3em;
	padding-bottom: 2em;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	section {
		text-align: center;
	}
}

.project_epaper {
	background-image: url(/assets/images/epaper/nextgen-bg.png);
	img {
		max-width: 250px;
	}
}

.project_stadionheft {
	background-color: #2a2a2a;
	img {
		max-width: 36em;
		-webkit-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.55);
		-moz-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.55);
		box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.55);
	}
}

@media screen and (max-width: 43em) {
	.project_stadionheft {
		img {
			max-width: 75%;
		}
	}

}
